* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    text-align: center;
}

.Columns {
/* column-count: 4; */
/* It change line to columns */
/* column-width: 25px; */
columns: 4 100px;
/* number of coloumns and size of it */
/* {columns: (num of coloumns) (num of px per columns)} */
column-rule: 1px solid #333;
/* size of line, solid with coloure */
/* {column-rule: (num of px) (solid) (num of colours);} */
}

