* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    /* font-family: ; */
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 30%rem;
    line-height: 70%rem;
}

h2 {
    padding: 1rem;
    background: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #333;
}

li a {
    display: block;
}

li a,
li a:visited{
    text-decoration: none;
    color: #333;
}

li a:hover,
li a:focus {
    background: #333;
    color: whitesmoke;
    cursor: pointer;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}

jaja {
    margin: 3rem auto;
    /* auto use for center */
    height: 28px;
    width: 100px;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 25px;
    outline: 3px solid grey;
    outline-offset: 0.25rem;

    /* for butten */
}
