body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5 ;
    background-color: papayawhip;
    color: rgb(red, green, blue);
}
p {
    color: hsla(240, 100%, 44%, 0.5);
    color: hsl(hue, saturation, lightness);
}
/* rgba(r{red},g{green},b{blue},a{alpha-bate[transparent]}) */
/* same way we can use #000000
   where #(00)(00)(00) work like #(red)(green)(blue)
   like :- #ff0000(red), #00ff00(green), #0000ff(blue)
   if in all 3 pair are equile the type diffrent way {ex:- #aabbcc = #abc}  */
/* 0 to 255 */
